/* Default styles - small devices (Mobile, screen width < 768px) */

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
    font-family: 'Roboto', sans-serif;
}

.top-bar {
    background-color: var(--blue);
    color: #ffffff;
}

.top-bar .top-phone {
    font-size: 1.25rem;
}

.top-bar .top-mail {
    font-size: 1rem;
}